@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One REDACTED<br />
    REDACTED<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/Tonykidv2/">Click Here</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ajramoslebron">Click Here</a>
</address>